<html ng-app="myApp">
	<head>
	<meta charset="utf-8" />
	<title> Калькулятор  </title>
	<style type="text/css"></style>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
</head>

<body ng-controller="firstCtrl">

	<input type="text" id="result"  size="11" name="result" ng-model="tempInput"/>
	<br/>
	<button type="button" id="1" ng-click="daivalue(1)"  value="1" >1</button>
	<button type="button" id="2" ng-click="daivalue(2)"  value="2" >2</button>
	<button type="button" id="3" ng-click="daivalue(3)"  value="3" >3</button>
	<button type="button" id="17" ng-click="zeroing()">C</button>
	<br/>
	<button type="button" id="4" ng-click="daivalue(4)"  value="4" >4</button>
	<button type="button" id="5" ng-click="daivalue(5)"  value="5" >5</button>
	<button type="button" id="6" ng-click="daivalue(6)"  value="6" >6</button>
	<button type="button" id="11" ng-click="add('+')">+</button>
	<br/>
	<button type="button" id="7" ng-click="daivalue(7)"  value="7" >7</button>
	<button type="button" id="8" ng-click="daivalue(8)"  value="8" >8</button>
	<button type="button" id="9" ng-click="daivalue(9)"  value="9" >9</button>
	<button type="button" id="13" ng-click="subtraction('-')">-</button>
	<br/>
	<button type="button" id="10" ng-click="daivalue(0)"  value="0" >0</button>
	<button type="button" id="15" ng-click="multiplication('*')">*</button>
	<button type="button" id="14" ng-click="division('/')">/</button>
	<button type="button" id="16" ng-click="equals('=')">=</button>






		<script src="calc.js">


		</script>



</body>
</html>