<html ng-app="myApp">
<head>
    <meta charset="utf-8"/>
    <title> запрос на курс валют</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="kyrs_valut.js"></script>
</head>
<body ng-controller="valutCtrl">
    <tr>USD/EUR</tr>
    <input type="text" ng-model="inputTextUSD_EUR"/>
    </br>
    <tr>EUR</tr>
    <input type="text" ng-model="inputTextUSD"/>
    <tr>USD</tr>
    <input type="text" ng-model="inputTextEUR"/>


    <button ng-click="onGetValuteClicked()">Конвертнуть</button>
    <button ng-click="rekirovka()">метнуть</button>

</body>
</html>
